.input {
  position: relative;

  .input-border {
    position: absolute;
    display: flex;
    pointer-events: none;
    width: 100%;
    height: 40px;

    &:before {
      content: "";
      flex: 0 0 auto;
      display: block;
      border: 1px solid rgba(255, 255, 255, 0.5);
      border-right: none;
      border-radius: 4px 0 0 4px;
      background: none;
      height: 38px;
      width: 10px;
      transition: border-color 0.3s;
    }

    .input-label {
      flex: 0 0 auto;
      padding: 0 5px;
      height: 100%;
      border-bottom: 1px solid rgba(255, 255, 255, 0.5);
      border-top: 1px solid rgba(255, 255, 255, 0);
      transition: border-bottom-color 0.3s;

      .input-label-text {
        flex: 0 0 auto;
        font-size: 0.9em;
        line-height: 1;
        transform: translate(0, -9px);
      }
    }

    &:after {
      content: "";
      flex: 1 1 auto;
      display: block;
      border: 1px solid rgba(255, 255, 255, 0.5);
      border-left: none;
      border-radius: 0 4px 4px 0;
      background: none;
      height: 38px;
      width: 100%;
      transition: border-color 0.3s;
    }
  }

  input {
    background: none;
    height: 40px;
    border-radius: 4px;
    border: none;
    width: 100%;
    padding: 5px 15px;
    font-size: 1em;
    line-height: 1;

    &:focus,
    &:active {
      outline: none;
    }
  }
}

.input.focus {
  .input-border {
    &:before {
      border-color: rgba(255, 255, 255, 1);
    }

    .input-label {
      border-bottom-color: rgba(255, 255, 255, 1);
    }

    &:after {
      border-color: rgba(255, 255, 255, 1);
    }
  }
}

// Empty state
// ========================================
.input {
	.input-label {
    transition: border-top-color 0.2s, border-bottom-color 0.3s !important;

    .input-label-text {
      transition: color 0.3s, transform 0.3s;
    }
	}
}

.input.empty:not(.focus) {
	.input-label {
    border-color: rgba(255, 255, 255, 0.5);
    transition: border-top-color 0.2s, border-bottom-color 0.3s !important;

    .input-label-text {
      color: rgba(255, 255, 255, 0.5);
      transform: scale(1.1) translate(0px, 12px);
    }
	}
}
