#play-now {
  height: 100%;

  button {
    background: #ffffff;
    color: #623e9b;
    font-size: 1.2em;

    &:hover, &:active, &:focus  {
      background-color: rgba(255, 255, 255, 0.6);
    }
  }
}
