.achievement-stub {
  padding: 1em 2em 1em 1em;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1.5em;

  .achievement-stub-image {
    display: flex;
    align-items: center;

    img {
      width: 60px;
      height: 60px;
      border-radius: 10px;
    }
  }

  .achievement-stub-text {
    .achievement-stub-title {
      font-size: 1.1em;
    }

    .achievement-stub-description {
      font-size: 0.8em;
    }
  }
}
