.achievement-stub {
  background: #212121;
  border-radius: 8px;
  padding: 1em 2em 1em 1em;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1.5em;
  border: 1px solid rgba(255, 255, 255, 0.05);
  -webkit-box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.5);

  .achievement-stub-image {
    display: flex;
    align-items: center;

    img {
      width: 60px;
      height: 60px;
      border-radius: 10px;
    }
  }

  .achievement-stub-text {
    .achievement-stub-title {
      font-size: 1.1em;
    }

    .achievement-stub-description {
      font-size: 0.8em;
    }
  }
}
