.achievement-stub {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1.5rem;
  flex-flow: column nowrap;
  padding: 1rem;

  @media only screen and (min-width: 576px) {
    flex-flow: row nowrap;
    padding: 1em 2em 1em 1rem;
  }

  .achievement-stub-image {
    display: flex;
    align-items: center;
    order: 1;

    @media only screen and (min-width: 576px) {
      order: auto;
    }

    img {
      width: 60px;
      height: 60px;
      border-radius: 10px;
    }
  }

  .achievement-stub-text {
    order: 0;

    @media only screen and (min-width: 576px) {
      order: auto;
    }

    .achievement-stub-title {
      font-size: 1.1rem;
      text-align: center;

      @media only screen and (min-width: 576px) {
        text-align: left;
      }
    }

    .achievement-stub-description {
      font-size: 0.8rem;
      text-align: center;

      @media only screen and (min-width: 576px) {
        text-align: left;
      }
    }
  }
}
