// Generic styles
// ==================================
.overview-title {
  font-size: 0.8em;
}

// Specific styles
// ==================================
#overview-user {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  padding: 1em 0 2em 0;

  #overview-profile-picture {
    img {
      width: 80px;
      border-radius: 50%;
    }
  }

  #overview-name {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;

    #overview-name-content {
      font-size: 1.6em;
    }
  }
}

#overview-topline-stats {
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  padding: 0 4em;

  .overview-stat {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;

    .overview-stat-content {
      font-size: 1.5em;
    }
  }
}

#overview-stat-last-played {
  .overview-stat-content {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;

    .date {
      font-size: 0.7em;
    }

    .time {
      font-size: 0.6em;
    }
  }
}
