#overview-characters {
  #characters-body {
    background: #181818;
    padding: 2em;
    border-radius: 14px;
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-evenly;
    gap: 2em;
  }
}
