#account-details {
  width: 100%;

  form {
    width: 100%;
    
    #account-form-inputs {
      width: 100%;
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: repeat(1fr);
      gap: 1.5em;

      @media screen and (min-width: 576px) {
        grid-template-columns: 1fr 1fr;
      }
    }
  }
}
