#account-details {
  width: 100%;

  form {
    width: 100%;
    
    #account-form-inputs {
      width: 100%;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: repeat(1fr);
      padding: 2em 2em;
      gap: 1.5em;
    }
  }
}
